#----------------------------- Node Config -----------------------------#

# Web Server

TWIN_NODE_PORT=3000
TWIN_NODE_HOST="0.0.0.0"
# TWIN_NODE_CORS_ORIGINS=*
# TWIN_NODE_HTTP_METHODS=
# TWIN_NODE_HTTP_ALLOWED_HEADERS=
# TWIN_NODE_HTTP_EXPOSED_HEADERS=

# Global

## Set DEBUG to true to enable additional information in the logs
TWIN_NODE_DEBUG=true

## The features to enable on the node
##   node-identity: generates an identity for the node if not provided in config.
##   node-user: generates a user for the node if not provided in config.
##   node-wallet: generates a wallet for the node if a faucet is available.
TWIN_NODE_FEATURES="node-identity"

# Default Node Identity Details

# The Bip39 mnemonic for creating the seed for the node, defaults to randomly generated, check logs for the generated mnemonic
# TWIN_NODE_MNEMONIC=""

# Storage

## Storage for files will use this directory as its root, in docker you should map this to a mounted volume to be persistent
TWIN_NODE_STORAGE_FILE_ROOT="../../.local-data/twin-node-entity-storage/"


# Entity Storage

## Entity Storage can be a comma separated list [file, memory, aws-dynamodb, azure-cosmosdb, gcp-firestoredb, scylladb, postgresql, mysql, mongodb, synchronised]
TWIN_NODE_ENTITY_STORAGE_CONNECTOR_TYPE="file"

# Logging Connector

## Logging Connector [console,entity-storage]
## You can log to more than one connector my separating them with a comma
TWIN_NODE_LOGGING_CONNECTOR="console"

# Vault Connector

## Vault Connector [entity-storage, hashicorp]
TWIN_NODE_VAULT_CONNECTOR="entity-storage"

# Background Task Connector

## Background Task Connector [entity-storage]
TWIN_NODE_BACKGROUND_TASK_CONNECTOR="entity-storage"

## Verifiable Storage Connector [entity-storage, iota]
TWIN_NODE_VERIFIABLE_STORAGE_CONNECTOR="entity-storage"

## Identity Resolver Connector [entity-storage, iota, universal]
TWIN_NODE_IDENTITY_RESOLVER_CONNECTOR="entity-storage"

## Identity Connector [entity-storage, iota]
TWIN_NODE_IDENTITY_CONNECTOR="entity-storage"

# Auditable Item Graph

## Is the auditable item graph enabled, defaults to false.
TWIN_NODE_AUDITABLE_ITEM_GRAPH_ENABLED="true"

# Auditable Item Stream

## Is the auditable item stream enabled, defaults to false.
TWIN_NODE_AUDITABLE_ITEM_STREAM_ENABLED="true"

TWIN_NODE_FEDERATED_CATALOG_ENABLED="true"

## Federated catalog TTL for the cache in ms
# TWIN_NODE_FEDERATED_CATALOG_CACHE_TTL_MS="60000"

## Federated catalog clearing house approver list, stringified array of DIDs.
# TWIN_NODE_FEDERATED_CATALOG_CLEARING_HOUSE_APPROVER_LIST="[]"

## Task Scheduler
TWIN_NODE_TASK_SCHEDULER_ENABLED="true"

## Data Space Connector
TWIN_NODE_DATA_SPACE_CONNECTOR_ENABLED="true"

## Data Space Apps Config file - use the @json: prefix to specify the path to the JSON file.

TWIN_NODE_DATA_SPACE_CONNECTOR_APPS="@json:data-space-connector-apps.json"
